{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
    <div class="mb-3">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        <div class="invalid-feedback">
            {{ form_errors(form.title) }}
        </div>
    </div>
    
    <div class="mb-3">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        <div class="invalid-feedback">
            {{ form_errors(form.description) }}
        </div>
    </div>
    
    <div class="mb-3">
        {{ form_label(form.pointsRequired) }}
        {{ form_widget(form.pointsRequired) }}
        <div class="invalid-feedback">
            {{ form_errors(form.pointsRequired) }}
        </div>
    </div>
    
    {% if is_granted('ROLE_ADMIN') and form.user is defined %}
        <div class="mb-3">
            {{ form_label(form.user) }}
            {{ form_widget(form.user) }}
            <div class="invalid-feedback">
                {{ form_errors(form.user) }}
            </div>
            <small class="form-text text-muted">Leave empty to create a global objective</small>
        </div>
    {% endif %}
    
    <div class="d-grid gap-2">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }} 